<launch>

  <arg name="veh" />
  <arg name="camera" default="/$(arg veh)/camera_node"/>

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0  1.5708 0.15 1.5708   base_link shamrock/camera_optical_frame 100" />

  <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/$(arg veh)/camera_node/image raw out:=/$(arg veh)/camera_node/image_raw" />

  <!-- Run the stereo image proc -->
  <node ns="$(arg camera)" pkg="image_proc" type="image_proc" name="image_proc" /> 


  <!-- Viso2 -->
  <node pkg="viso2_ros" type="mono_odometer" name="mono_odometer">
    <remap from="image" to="/$(arg veh)/camera_node/image_rect"/>
    <param name="camera_height" value="0.1" />
    <param name="camera_pitch" value="-0.15" />
    <param name="sensor_frame_id" value="shamrock/camera_optical_frame"/>
  </node>

</launch>
